            <footer>
                <ul>
                    <li><a href="mailto:kunmeigo@gmail.com">email:kunmeigo@gmail.com</a></li>
                    <li><a href="https://www.zhihu.com/people/bo-luo-zha-dan">逼乎</a></li>
				</ul>
            </footer>
			

<script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>